body {
    padding: 70px;
    background-image: url("images/background.jpg");
}
.whitebox {
    
    border: 3px solid rosybrown;
    background-color: white;
}

.whitebox img {
    clear: both;
}


.form-group {
    margin-bottom: 20px;
}